DATABASE_URL=URL

POSTGRES_DB=marketplace
POSTGRES_USER=marketplace
POSTGRES_PASSWORD=change_me_in_prod

PORT=5000
NODE_ENV=development
JWT_SECRET=change_me_to_long_random_string
CLIENT_URL=http://localhost:5173

